<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/page5.css">
    <title>Document</title>
</head>
<body>
    <div class="page4">
        
    <div class="ANZ-Account">
    <div>
    <div class="ANZ">
    ANZ ACCESS ADVANTAGE STATEMENT
    </div>

    <div class="Account">
   Account Number <%=accountNumber%>
    </div>
    </div>
    </div>
    
 <div class="New_Profile">
   <h3> New Profile menu in ANZ Internet Banking</h3>
<p>The new Profile menu in ANZ Internet Banking lets you securely manage your contact information and security details. You can find the
new menu in the top right corner of ANZ Internet Banking.</p>
 </div>

 <div class="New_Profile">
    Keep your contact information up to date, as these details may be used for security purposes (e.g. to verify transactions), or
send you account information.
 </div>

<div class="New_Profile">
    You can also choose which offers and promotions you want to receive and how. You can select as many as you like and make changes any time.
 </div>

 <div class="New_Profile">
    Visit <a href="www.anz.com.au">www.anz.com.au</a> to explore your Profile today.
 </div>
 
  <div class="New_Profile">
  <h3>It’s now more important than ever to get on top of your money</h3>
More information is now being shared with the credit reporting bodies for your overdraft and loan accounts. So now it’s more important than
ever to understand your credit health and make your repayments on time.
<br><br>

To find out more visit<a href="www.anz.com/creditreporting"> www.anz.com/creditreporting</a>
 </div>

 <div class="important_information">
<h2>IMPORTANT INFORMATION</h2>
<h3 class="blue_color">PLEASE CHECK THE ENTRIES AND CALL 13 13 14 REGARDING ANY ERRORS ON THIS STATEMENT.</h3>
<p>All entries generated are subject to authorisation and verification and if necessary, adjustments will appear on a later statement.</p>
<p>If you have a complaint or unresolved issue with ANZ's product or service please call our National Feedback Line 1800 805 154 and advise us. Further
information in relation to ANZ's dispute resolution process and this product (including details of benefits or fees and charges) is available on request and
you can access this information by reviewing the Terms and Conditions, and Fees and Charges brochures which can be found at <a href="www.anz.com">www.anz.com</a> or by
calling 13 13 14.</p> 
</div>

</div>
<div class="Page5of5">
  page 5 of 5
  </div>
</div>

<div class="next-prev">
    <div>
<a href=<%= previous %>>< Prev</a>
</div>
 <div>
<a href="/"></a>
</div>
</div>
</body>
</html>