body{
     margin-right:10%;
    margin-left: 10%;
      background-color: white;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
}
.page2{
   margin-right:5%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    
  
}
.ANZ-Account{
    margin-top: 5%;
    display: flex;
    margin-bottom: 8%;
    
    justify-content: right;
   text-align: right;
}
.ANZ{
     font-size: 30px;
    color:rgb(25, 161, 215);
   font-weight: 600;
}
p{
    font-size: 15px;
}

.New_Profile{
    margin-bottom: 3%;
}
.Page5of5{
    text-align: right;
    margin-top: 25%;
}
.important_information{
    margin-top:5%;
    height: 30%;
    background-color: rgb(209, 237, 250);
    padding: 10px;
   
}
.blue_color{
    color: rgb(4, 184, 255);
}
.Page5of5{
    text-align: right;
    margin-top: 25%;
}
.next-prev{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap : 10%;
}