body{
     margin-right:10%;
    margin-left: 10%;
      background-color: white;
     font-family: Arial, Helvetica, sans-serif;
}
.page2{
   margin-right:5%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    
  
}
.ANZ-Account{
    display: flex;
    
    justify-content: right;
   text-align: right;
}
.ANZ{
     font-size: 30px;
    color:rgb(25, 161, 215);
   font-weight: 600;
}

.Transaction-Please{
    margin-top:50px;
    margin-bottom: 50px;
}
.Transaction{
    font-size: x-large;
    margin-bottom:10px;
}
.Please{
    margin-top: 50px;
}
.row{
    display: flex;
    height: auto;
    font-size: medium;
}
.Withdrawals
{ background-color: rgb(255, 251, 251);
   width:15%;
   text-align: right;
}
.Date{
  background-color: rgb(255, 251, 251);
  width:15%;
}
.Transaction-Details{
    background-color: rgb(255, 251, 251);
    width: 40%;
}
.Deposits{
    background-color: rgb(255, 251, 251);
  width:15%;
  text-align: right;
}
.Balance{
     background-color: rgb(255, 251, 251);
    width: 15%;
    text-align: right;
}
.heading{
    font-weight:600;
}
.bolder{
    font-weight: 600;
}
.Page2of5{
    text-align: right;
    margin-top: 15%;
}
.under-line-total{
   height: 2px;
   background-color: black;
}
.next-prev{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap : 10%;
}